:root {
	--webgal-playground-color: #213547;
	--webgal-playground-hover: #3a5369;
	--webgal-playground-background: #f0f0f0;
	--webgal-playground-border-bottom: #d9d9d9;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--webgal-playground-color);
	background-color: var(--webgal-playground-background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root.dark {
	--webgal-playground-color: rgb(216, 216, 216);
	--webgal-playground-hover: rgb(255, 255, 255);
	--webgal-playground-background: #242424;
	--webgal-playground-border-bottom: #2f2f2f;
	color-scheme: dark light;
}

#root {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

.main {
	width: 100%;
	border-bottom: 1px solid var(--webgal-playground-border-bottom);
}

.ant-btn-variant-text,
.ant-checkbox-wrapper {
	color: var(--webgal-playground-color);
}

.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover {
	color: var(--webgal-playground-hover);
}

.ant-tabs-nav{
	margin: 0;
}
